{% extends 'baseadmin.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 <style>
    .custom-file-button { input[type="file"] { margin-left: -2px !important;

    &::-webkit-file-upload-button { display: none; } &::file-selector-button {
    display: none; } }

    &:hover { label { background-color: #dde0e3; cursor: pointer; } } }
  </style>
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center pb-5">
          Register
        </h3>

                    {% if app.session.flashBag.has('registre') %}
          <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('registre') %}
              {{ msg }}
            {% endfor %}
          </div>
        {% endif %}

 {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(registrationForm) }}
      </div>
    </div>
  </div>
   
{% endblock %}
